#credentials
proxmox_api_url             = "https://proxmox:8006/"
proxmox_api_token_id        = "service@pve!provisiontoken=6ae5ac23-1156-4c5c-b8f7-bea4dbf56a75"
pm_tls_insecure             = true
proxmox_vm_user             = "admin"
